target/
node_modules/
dist/

.env
.env.*
!.env.example

**/src/main/resources/application-local.properties
!**/src/main/resources/application.properties
!**/src/main/resources/application.properties.example

*.log
uploads/
**/uploads/
*.xlsx
*.xls
hotel-service/UsersThinkPadDocumentsdoc/
